<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" . }}
    <body>
        {{ if not .Params.hide_donate }}{{ partial "donation-banner.html" . }}{{ end }}
        {{ partial "header.html" . }}
        <main>
            {{ block "main" . }}{{ end }}
        </main>
        {{ if not .Params.hide_donate }}{{ partial "donate.html" . }}{{ end }}
        {{ if not .Params.hide_footer }}{{ partial "footer.html" . }}{{ end }}
		{{ if not .Params.hide_footer }}{{ partial "custom_footer.html" . }}{{ end }}
    </body>
</html>
