<section class="ancient-section">
  <h2>THE ANCIENT WACCAMAW</h2>
  <p>
    The ancient Waccamaw were river dwellers who lived along the Waccamaw River covering an area that reached from North Carolina's Lake Waccamaw to Winyah Bay near Georgetown, South Carolina. If the conclusions of Dr. John R. Swanton are correct, the Waccamaw People may have been one of the first mainland groups of Natives visited by the Europeans. The Spanish, under Francisco Gordillo and Pedro de Quexos (c1521), took several ships loaded with Indian people and carried them off into slavery. One of those enslaved was a man who became known as "Francisco de Chicora." Francisco identified more than twenty tribes who lived in this area. The greatest importance, however, seems to attach to "Chicora" and "Duhare," the northern most provinces on Francisco's list. Considering Dr. Swanton's findings, it appears that these nations were the Waccamaw and the Cape Fear respectively.
  </p>
  <p>
    The Waccamaw were adept at the domestication of animals, including deer. They manufactured cheese from does' milk. Additionally, they kept a variety of chickens, ducks, geese, and other domestic fowl. There were gardens to tend, both private and communal. Everyone worked in the community garden, including the chiefs, who were seen planting and gathering the crops along with their tribe. Among their crops were corn, pumpkins, kidney beans, lima beans, squash, melons, gourds and tobacco.
  </p>
  <p>
    European contact nearly wiped out the Waccamaw. Because we had no defense for the diseases they brought, our people died by the hundreds. When the Europeans needed labor, our people were forced into slavery. The king ordered all owners to free their Indian slaves (c1752). The loss of their slaves, however, would have devastated the plantations, and so the owners simply tried to turn us Black. After the Emancipation Proclamation, thousands of Indians walked off the cotton fields along with the Blacks.
  </p>
</section>
