<section class="political-section">
  <h2>POLITICAL IMPLICATIONS</h2>
  <p>
    The relationship between the Indian people and the local and federal governments has always been an adversarial one. Fear of land lawsuits (and recently gambling) has caused many elected officials to deny our existence. The federal and state laws were amended to guarantee Blacks the same freedoms as Whites. This has never been done for Indians. We are the only race in this country that must prove who we are, and we are the most regulated people in America today! We were not even allowed to become citizens until 1924, and worse still, Indian graveyards were not protected until 1987.
  </p>
  <p>
    The omission of protection allows those who see our heritage as a money-making opportunity to take advantage of us. Recently in Virginia there was a market that sold Indian artifacts, and in one case had a pair of moccasins on display and for sale with the skeletal feet still inside! In another case a person bought a graveyard and bulldozed 36 of 40 tombstones before our efforts with the local media caused him to stop.
  </p>
  <p>
    The leadership of the Waccamaw has been instrumental in achieving some level of equality for Natives in this country and especially in the state of South Carolina. Our Chief, Harold D. Hatcher, worked to address the issues that separated Indians from those of the general populace and from each other. In 1994, working with President Bill Clinton and the White House staff, he was able to achieve several concessions from the United States government, which brought a more nearly level playing field to American Indians across the country.
  </p>
  <p>
    In the state of South Carolina, our leaders have worked with Governors Campbell, Beasley, Hodges, and Sanford in addressing state level inequities. In July 2003, the state enacted a bill which was signed by Governor Sanford allowing the state's American Indians the same protections that had been afforded to Blacks as early as 1976. However, the job is not done. Still today, there are over 600 sets of human remains stored on shelves in the state's museums. The Waccamaw, among other tribes and Native American groups in our state, are spearheading efforts to repatriate our ancestors' remains, thereby providing for them the dignity they deserve in their eternal rest.
  </p>
</section>
